.pyxis-navbar-positioning-fixed #wpadminbar {
  position: fixed;
}

#pyxis-mobile-header {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  box-sizing: border-box;
  z-index: 9999;
}
.admin-bar #pyxis-mobile-header {
  top: 46px;
}
@media (min-width: 783px) {
  .admin-bar #pyxis-mobile-header {
    top: 32px;
  }
}
#pyxis-mobile-header .pyxis-mobile-main {
  flex: 0 0 100%;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
#pyxis-mobile-header .pyxis-mobile-toggle {
  cursor: pointer;
  position: absolute;
  top: auto;
  left: 15px;
  padding: 0;
  margin: 0;
  border: none;
}
#pyxis-mobile-header .pyxis-mobile-toggle:active, #pyxis-mobile-header .pyxis-mobile-toggle:focus {
  top: auto;
}
.pyxis-navbar-positioning-absolute #pyxis-mobile-header {
  position: absolute;
}
.pyxis-navbar-positioning-fixed #pyxis-mobile-header {
  position: fixed;
}

/* Toggle Location */
.pyxis-toggle-location-right .pyxis-mobile-toggle {
  left: auto;
  right: 15px;
}

/* Toggle Type */
.pyxis-toggle-type-hamburger .pyxis-mobile-toggle {
  width: auto;
  height: 32px;
  background-color: transparent;
  text-align: center;
}
.pyxis-toggle-type-hamburger .pyxis-mobile-toggle span {
  display: none;
}
.pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars {
  position: relative;
  height: 2px;
  width: 24px;
  background-color: #fff;
  margin: 0 auto;
}
.pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars:before, .pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
}
.pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars:before {
  transform: translateY(-8px);
}
.pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars:after {
  transform: translateY(8px);
}
.pyxis-mobile-active .pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars {
  background-color: transparent;
}
.pyxis-mobile-active .pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars:before {
  transform: translateY(0) rotate(-45deg);
}
.pyxis-mobile-active .pyxis-toggle-type-hamburger .pyxis-mobile-toggle .pyxis-mobile-toggle-bars:after {
  transform: translateY(0) rotate(45deg);
}
.pyxis-toggle-type-button .pyxis-mobile-toggle {
  width: auto;
  padding: 5px 10px;
  background-color: blue;
}

.pyxis-mobile-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.pyxis-mobile-active .pyxis-mobile-overlay {
  display: block;
}

#pyxis-mobile-menu-container {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  background-color: #000000;
  padding: 15px 0 70px;
}
.admin-bar #pyxis-mobile-menu-container {
  top: 46px;
}
@media (min-width: 783px) {
  .admin-bar #pyxis-mobile-menu-container {
    top: 32px;
  }
}
#pyxis-mobile-menu-container .pyxis-mobile-close {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 0 0 32px;
  cursor: pointer;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: transparent;
  padding: 0;
  margin: 0 0 15px 0;
  border: none;
}
#pyxis-mobile-menu-container .pyxis-mobile-close .pyxis-mobile-toggle-bars {
  position: relative;
  height: 2px;
  width: 100%;
  background: transparent;
}
#pyxis-mobile-menu-container .pyxis-mobile-close .pyxis-mobile-toggle-bars:before, #pyxis-mobile-menu-container .pyxis-mobile-close .pyxis-mobile-toggle-bars:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  top: 0;
  left: 0;
}
#pyxis-mobile-menu-container .pyxis-mobile-close .pyxis-mobile-toggle-bars:before {
  transform: translateY(0) rotate(-45deg);
}
#pyxis-mobile-menu-container .pyxis-mobile-close .pyxis-mobile-toggle-bars:after {
  transform: translateY(0) rotate(45deg);
}
.pyxis-mobile-active #pyxis-mobile-menu-container {
  right: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.pyxis-flyout-style-default #pyxis-mobile-menu-container {
  width: 250px;
}
.pyxis-flyout-style-full #pyxis-mobile-menu-container {
  width: 100%;
}
.pyxis-toggle-location-left #pyxis-mobile-menu-container {
  left: -100%;
  right: auto;
}
.pyxis-mobile-active.pyxis-toggle-location-left #pyxis-mobile-menu-container {
  left: 0;
}
#pyxis-mobile-menu-container .pyxis-mobile-menu-wrap {
  width: 80%;
  margin: 0 auto;
}
#pyxis-mobile-menu-container .pyxis-mobile-no-menu h4 {
  color: #fff;
}
#pyxis-mobile-menu-container .pyxis-mobile-no-menu p {
  font-size: 16px;
  line-height: 1.3;
  margin: 10px 0;
}

/* Menu */
#pyxis-mobile-menu-container ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pyxis-mobile-menu-container ul.menu li a {
  display: block;
  padding: 5px 0;
  color: #ffffff;
}
#pyxis-mobile-menu-container ul.sub-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
}
#pyxis-mobile-menu-container .menu-link-has-children {
  display: flex;
}
#pyxis-mobile-menu-container .menu-link-has-children a {
  flex: 1 0 auto;
}
.pyxis-nav-layout-flyout-full #pyxis-mobile-menu-container .menu-link-has-children a {
  flex: 0 1 auto;
}
#pyxis-mobile-menu-container .pyxis-submenu-toggle {
  position: relative;
  flex: 0 0 25px;
  cursor: pointer;
}
#pyxis-mobile-menu-container .pyxis-submenu-toggle.open:after {
  transform: translate(-50%, -80%) rotate(-135deg);
  transition: transform 0.5s ease-in-out;
}
#pyxis-mobile-menu-container .pyxis-submenu-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform-origin: center;
  transform: translate(-50%, -80%) rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
